{
  "openapi": "3.0.0",
  "info": {
    "title": "ZapZap API",
    "description": "API para automação de WhatsApp via instâncias gerenciadas. Autentique-se com x-api-key e x-api-secret obtidos no painel.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.zapzapapi.com",
      "description": "Servidor ZapZap"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      },
      "ApiSecretAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-secret"
      }
    }
  },
  "paths": {
    "/api/v1/account": {
      "get": {
        "summary": "Dados da Conta",
        "description": "Retorna os dados da sua conta: nome, email, saldo atual, dia de cobrança e status.",
        "tags": [
          "Conta & Instâncias"
        ],
        "parameters": [],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "id": "uuid",
                  "name": "João",
                  "email": "joao@email.com",
                  "balance": "150.00",
                  "billing_day": 10,
                  "status": "ACTIVE"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        }
      }
    },
    "/api/v1/instances": {
      "get": {
        "summary": "Listar Instâncias",
        "description": "Lista todas as instâncias WhatsApp da sua conta com status, nome, telefone e configurações.",
        "tags": [
          "Conta & Instâncias"
        ],
        "parameters": [],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": [
                  {
                    "id": "uuid",
                    "name": "minha-instancia",
                    "status": "CONNECTED",
                    "phone_number": "5511999999999"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        }
      },
      "post": {
        "summary": "Criar Instância",
        "description": "Cria uma nova instância WhatsApp. Debita automaticamente do saldo (taxa de ativação + proporcional). O nome deve conter apenas letras, números, _ e -.",
        "tags": [
          "Conta & Instâncias"
        ],
        "parameters": [],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "instance": {
                    "id": "uuid",
                    "name": "minha-instancia",
                    "status": "PENDING"
                  },
                  "billing": {
                    "charged": 25.5
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome da instância",
                    "example": "minha-instancia"
                  },
                  "systemName": {
                    "type": "string",
                    "description": "Nome do sistema (exibido no WhatsApp)",
                    "example": "Meu App"
                  },
                  "metadata": {
                    "type": "string",
                    "description": "Dados livres (JSON) — vincule ao seu sistema (ex: clientId, plano)",
                    "example": "{\"clientId\":\"123\",\"plan\":\"pro\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/instances/cost": {
      "get": {
        "summary": "Custo de Criação",
        "description": "Retorna o custo para criar uma nova instância: taxa de ativação, proporcional e saldo necessário.",
        "tags": [
          "Conta & Instâncias"
        ],
        "parameters": [],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "activationFee": 10,
                  "prorate": 15.5,
                  "total": 25.5,
                  "instancePrice": 49.9,
                  "currentBalance": 150
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        }
      }
    },
    "/api/v1/instances/{id}": {
      "delete": {
        "summary": "Deletar Instância",
        "description": "Deleta (soft delete) uma instância. O WhatsApp é desconectado e um waiver de taxa de ativação é gerado para a próxima criação.",
        "tags": [
          "Conta & Instâncias"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "message": "Instância deletada com sucesso"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        }
      },
      "get": {
        "summary": "Detalhes da Instância",
        "description": "Retorna detalhes de uma instância específica.",
        "tags": [
          "Conta & Instâncias"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "id": "uuid",
                  "name": "MinhaInstancia",
                  "status": "CONNECTED",
                  "phone_number": "5511999999999"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        }
      },
      "put": {
        "summary": "Atualizar Instância",
        "description": "Atualiza webhook_url e/ou metadata de uma instância. O metadata é um JSON livre para vincular a instância ao seu sistema (ex: ID do cliente, plano, etc). O metadata é incluído automaticamente nos webhooks recebidos.",
        "tags": [
          "Conta & Instâncias"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "id": "uuid",
                  "name": "minha-instancia",
                  "webhook_url": "https://meusite.com/webhook",
                  "metadata": {
                    "clientId": "123"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [],
                "properties": {
                  "webhook_url": {
                    "type": "string",
                    "description": "URL do webhook (HTTPS)",
                    "example": "https://meusite.com/webhook"
                  },
                  "metadata": {
                    "type": "string",
                    "description": "Dados livres (JSON)",
                    "example": "{\"clientId\":\"123\"}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/instances/{id}/qrcode": {
      "get": {
        "summary": "QR Code da Instância",
        "description": "Retorna o QR Code para conectar o WhatsApp à instância. Escaneie com o celular.",
        "tags": [
          "Conta & Instâncias"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "connected": true,
                  "instance": {
                    "status": "connected",
                    "profileName": "Nome"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        }
      }
    },
    "/api/v1/instances/{id}/webhook": {
      "get": {
        "summary": "Ver Webhook",
        "description": "Retorna a URL de webhook configurada para a instância. O webhook recebe eventos em tempo real (mensagens, status, etc).\n\n⚠️ ATENÇÃO À URL: o {id} já vai no caminho — NÃO adicione duas vezes.\n\n✅ Certo:  GET /api/v1/instances/SEU-INSTANCE-ID/webhook\n❌ Errado: GET /api/v1/SEU-INSTANCE-ID/instances/SEU-INSTANCE-ID/webhook  (instanceId duplicado)",
        "tags": [
          "Conta & Instâncias"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "webhook_url": "https://meusite.com/webhook",
                  "configured": true
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        }
      },
      "put": {
        "summary": "Configurar Webhook",
        "description": "Define ou atualiza a URL de webhook da instância. A URL deve ser pública e acessível via HTTPS. Eventos como mensagens recebidas, status de entrega e mudanças de conexão serão enviados via POST para essa URL.\n\n⚠️ ATENÇÃO À URL: o {id} já vai no caminho — NÃO adicione duas vezes.\n\n✅ Certo:  PUT /api/v1/instances/SEU-INSTANCE-ID/webhook\n❌ Errado: PUT /api/v1/SEU-INSTANCE-ID/instances/SEU-INSTANCE-ID/webhook  (instanceId duplicado)",
        "tags": [
          "Conta & Instâncias"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "ok": true,
                  "webhook_url": "https://meusite.com/webhook"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "webhook_url"
                ],
                "properties": {
                  "webhook_url": {
                    "type": "string",
                    "description": "URL do webhook (HTTPS)",
                    "example": "https://meusite.com/webhook"
                  },
                  "events": {
                    "type": "string",
                    "description": "Eventos para receber (vazio = todos)",
                    "example": "messages,status"
                  },
                  "excludeMessages": {
                    "type": "string",
                    "description": "Excluir mensagens próprias",
                    "enum": [
                      "true",
                      "false"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/instances/{id}/webhook/test": {
      "post": {
        "summary": "Testar Webhook",
        "description": "Envia um evento de teste para a URL de webhook configurada. Retorna o status code e tempo de resposta. Útil para validar que seu servidor está recebendo os eventos corretamente.\n\n⚠️ ATENÇÃO À URL: o {id} já vai no caminho — NÃO adicione duas vezes.\n\n✅ Certo:  POST /api/v1/instances/SEU-INSTANCE-ID/webhook/test\n❌ Errado: POST /api/v1/SEU-INSTANCE-ID/instances/SEU-INSTANCE-ID/webhook/test  (instanceId duplicado)",
        "tags": [
          "Conta & Instâncias"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "ok": true,
                  "statusCode": 200,
                  "responseTime": 150
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [],
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "URL alternativa para teste (opcional)",
                    "example": "https://meusite.com/webhook"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{instanceId}/send/carousel": {
      "post": {
        "summary": "Enviar Carrossel",
        "description": "Envia um carrossel de cartões com imagem e botões de ação. Cada item do array `carousel` representa um cartão com `text`, `image` e `buttons: [{type,text,id}]`.",
        "tags": [
          "Enviar Mensagens"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância WhatsApp"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "messageId": "ABCDEF123456",
                  "status": "sent"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "number",
                  "text",
                  "carousel"
                ],
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número (com DDI)",
                    "example": "5511999999999"
                  },
                  "text": {
                    "type": "string",
                    "description": "Texto principal da mensagem",
                    "example": "Confira nossas opções:"
                  },
                  "carousel": {
                    "type": "string",
                    "description": "Cartões (JSON array)",
                    "example": "[{\"text\":\"Produto 1\",\"image\":\"https://exemplo.com/img.jpg\",\"buttons\":[{\"type\":\"REPLY\",\"text\":\"Quero!\",\"id\":\"quero\"}]}]"
                  },
                  "delay": {
                    "type": "number",
                    "description": "Delay (ms)",
                    "example": "1200"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{instanceId}/send/contact": {
      "post": {
        "summary": "Enviar Contato (vCard)",
        "description": "Envia um cartão de contato (vCard) com nome e telefone.",
        "tags": [
          "Enviar Mensagens"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância WhatsApp"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "messageId": "ABCDEF123456",
                  "status": "sent"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "number",
                  "fullName",
                  "phoneNumber"
                ],
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número do destinatário",
                    "example": "5511999999999"
                  },
                  "fullName": {
                    "type": "string",
                    "description": "Nome completo do contato",
                    "example": "João Silva"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "Telefones (separados por vírgula)",
                    "example": "5511999999999,5511888888888"
                  },
                  "organization": {
                    "type": "string",
                    "description": "Empresa / Organização",
                    "example": "Empresa XYZ"
                  },
                  "email": {
                    "type": "string",
                    "description": "E-mail do contato",
                    "example": "joao@empresa.com"
                  },
                  "delay": {
                    "type": "number",
                    "description": "Delay (ms)",
                    "example": "1200"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{instanceId}/send/location": {
      "post": {
        "summary": "Enviar Localização",
        "description": "Envia uma localização geográfica com pin no mapa. O destinatário pode abrir no Google Maps ou Apple Maps diretamente.",
        "tags": [
          "Enviar Mensagens"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância WhatsApp"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "messageId": "ABCDEF123456",
                  "status": "sent"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "number",
                  "latitude",
                  "longitude"
                ],
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número (com DDI)",
                    "example": "5511999999999"
                  },
                  "latitude": {
                    "type": "number",
                    "description": "Latitude",
                    "example": "-23.5505"
                  },
                  "longitude": {
                    "type": "number",
                    "description": "Longitude",
                    "example": "-46.6333"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome do local",
                    "example": "Sede da empresa"
                  },
                  "address": {
                    "type": "string",
                    "description": "Endereço",
                    "example": "Av. Paulista, 1000 - São Paulo"
                  },
                  "delay": {
                    "type": "number",
                    "description": "Delay (ms)",
                    "example": "1200"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{instanceId}/send/location-button": {
      "post": {
        "summary": "Solicitar Localização",
        "description": "Envia uma mensagem com botao que pede a localizacao do usuario. O botao de compartilhar localizacao e adicionado automaticamente.",
        "tags": [
          "Enviar Mensagens"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância WhatsApp"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "messageId": "ABCDEF123456",
                  "status": "sent"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "number",
                  "text"
                ],
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número (com DDI)",
                    "example": "5511999999999"
                  },
                  "text": {
                    "type": "string",
                    "description": "Texto da mensagem",
                    "example": "Compartilhe sua localização para entregarmos seu pedido:"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{instanceId}/send/media": {
      "post": {
        "summary": "Enviar Mídia",
        "description": "Envia um arquivo de mídia para um contato. O arquivo deve estar acessível em uma URL pública.\n\nTipos disponíveis:\n• image — Imagem (JPG, PNG, GIF, WebP). Suporta legenda via text.\n• video — Vídeo (MP4, AVI, MOV). Suporta legenda via text.\n• audio — Áudio como arquivo (MP3, OGG, WAV). Aparece com ícone de arquivo de áudio.\n• ptt — Push-to-Talk: áudio que aparece como mensagem de voz (bolha de microfone). Ideal para humanizar automações.\n• myaudio — Áudio nativo do WhatsApp (OGG/Opus). Semelhante ao ptt, use quando já tiver o arquivo no formato correto.\n• ptv — Nota de vídeo (visualização única, formato circular). MP4 curto recomendado.\n• document — Documento (PDF, DOCX, XLSX, etc.). Use docName para definir o nome exibido no chat.\n• sticker — Figurinha animada ou estática (WebP).",
        "tags": [
          "Enviar Mensagens"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância WhatsApp"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "messageId": "ABCDEF123456",
                  "status": "sent"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "number",
                  "type",
                  "file"
                ],
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número (com DDI)",
                    "example": "5511999999999"
                  },
                  "type": {
                    "type": "string",
                    "description": "Tipo de Mídia",
                    "enum": [
                      "image",
                      "video",
                      "audio",
                      "ptt",
                      "myaudio",
                      "ptv",
                      "document",
                      "sticker"
                    ]
                  },
                  "file": {
                    "type": "string",
                    "description": "URL do Arquivo",
                    "example": "https://..."
                  },
                  "text": {
                    "type": "string",
                    "description": "Legenda — imagens e vídeos",
                    "example": "Descrição da mídia"
                  },
                  "docName": {
                    "type": "string",
                    "description": "Nome do arquivo — obrigatório para document",
                    "example": "arquivo.pdf"
                  },
                  "delay": {
                    "type": "number",
                    "description": "Delay (ms)",
                    "example": "1200"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{instanceId}/send/buttons": {
      "post": {
        "summary": "Enviar Botões de Resposta",
        "description": "Envia botões clicáveis (até 3). Cada objeto do array `buttons` vira um tipo diferente de botão conforme o campo usado:\n\n• `text` + `id` → botão de resposta rápida (contato clica, envia o texto)\n• `text` + `url` → botão que abre link externo\n• `text` + `phone` → botão de ligação\n• `text` + `copy` → botão que copia código pra área de transferência\n\nSem `image`, a mensagem sai só com texto + botões (header limpo). Com `image`, aparece uma imagem no topo. Limitação WhatsApp: misturar reply com url/phone/copy na mesma mensagem pode exibir aviso 'Abra no celular'.",
        "tags": [
          "Enviar Mensagens"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância WhatsApp"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "messageType": "InteractiveMessage",
                  "status": "Pending"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "number",
                  "text",
                  "buttons"
                ],
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número do destinatário (com DDI)",
                    "example": "5511999999999"
                  },
                  "text": {
                    "type": "string",
                    "description": "Texto da mensagem",
                    "example": "Como podemos ajudar?"
                  },
                  "buttons": {
                    "type": "string",
                    "description": "Botões (até 3). Use text+id para reply, text+url para link, text+phone para ligar, text+copy para copiar código",
                    "example": "[{\"text\":\"Sim\",\"id\":\"yes\"},{\"text\":\"Nosso site\",\"url\":\"https://exemplo.com\"},{\"text\":\"Ligar\",\"phone\":\"+5511999999999\"}]"
                  },
                  "image": {
                    "type": "string",
                    "description": "URL da imagem no topo (opcional)",
                    "example": "https://exemplo.com/banner.jpg"
                  },
                  "footer": {
                    "type": "string",
                    "description": "Texto do rodapé (opcional)",
                    "example": "Escolha uma opção"
                  },
                  "delay": {
                    "type": "number",
                    "description": "Atraso em ms antes de enviar (opcional)",
                    "example": "1200"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{instanceId}/send/list": {
      "post": {
        "summary": "Enviar Lista de Opções",
        "description": "Envia menu em lista com seções e itens selecionáveis. O contato toca no botão e escolhe uma opção.",
        "tags": [
          "Enviar Mensagens"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância WhatsApp"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "messageType": "ListMessage",
                  "status": "Pending"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "number",
                  "text",
                  "choices"
                ],
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número do destinatário",
                    "example": "5511999999999"
                  },
                  "text": {
                    "type": "string",
                    "description": "Texto principal",
                    "example": "Escolha uma opção:"
                  },
                  "choices": {
                    "type": "string",
                    "description": "Opções — use \"[Seção]\" para cabeçalho e \"Item|id|descrição\" para cada item",
                    "example": "[\"[Produtos]\",\"Camiseta|p1|R$ 50\",\"Calça|p2|R$ 120\"]"
                  },
                  "listButton": {
                    "type": "string",
                    "description": "Texto do botão que abre a lista",
                    "example": "Ver opções"
                  },
                  "footerText": {
                    "type": "string",
                    "description": "Rodapé (opcional)"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{instanceId}/send/poll": {
      "post": {
        "summary": "Enviar Enquete",
        "description": "Envia enquete nativa do WhatsApp. Contatos votam e o resultado chega via webhook.",
        "tags": [
          "Enviar Mensagens"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância WhatsApp"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "messageType": "PollCreationMessage",
                  "status": "Pending"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "number",
                  "text",
                  "choices"
                ],
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número do destinatário",
                    "example": "5511999999999"
                  },
                  "text": {
                    "type": "string",
                    "description": "Pergunta da enquete",
                    "example": "Qual o melhor dia?"
                  },
                  "choices": {
                    "type": "string",
                    "description": "Opções de voto (array de strings)",
                    "example": "[\"Segunda\",\"Terça\",\"Quarta\"]"
                  },
                  "selectableCount": {
                    "type": "string",
                    "description": "Votos permitidos por pessoa (0 = ilimitado)"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{instanceId}/send/pix-button": {
      "post": {
        "summary": "Enviar Botão PIX",
        "description": "Envia um botão de pagamento PIX nativo do WhatsApp. O contato pode copiar a chave e pagar diretamente.",
        "tags": [
          "Enviar Mensagens"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância WhatsApp"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "messageId": "ABCDEF123456",
                  "status": "sent"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "number",
                  "pixType",
                  "pixKey"
                ],
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "ID do chat para o qual a mensagem será enviada. Pode ser um número de telefone em formato internacional, um ID de grupo (`@g.us`), um ID de usuário (com `@s.whatsapp.net` ou `@lid`).",
                    "example": "5511999999999"
                  },
                  "pixType": {
                    "type": "string",
                    "description": "Tipo da chave PIX. Valores aceitos: CPF, CNPJ, PHONE, EMAIL ou EVP",
                    "enum": [
                      "EMAIL",
                      "CPF",
                      "CNPJ",
                      "PHONE",
                      "EVP"
                    ],
                    "example": "EVP"
                  },
                  "pixKey": {
                    "type": "string",
                    "description": "Valor da chave PIX (CPF/CNPJ/telefone/email/EVP)",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                  },
                  "pixName": {
                    "type": "string",
                    "description": "Nome exibido como recebedor do PIX (padrão \"Pix\" se vazio)",
                    "example": "Loja Exemplo"
                  },
                  "async": {
                    "type": "string",
                    "description": "Enfileira o envio para processamento assíncrono",
                    "enum": [
                      "true",
                      "false"
                    ]
                  },
                  "delay": {
                    "type": "number",
                    "description": "Atraso em milissegundos antes do envio (exibe \"digitando...\" no WhatsApp)",
                    "example": "1200"
                  },
                  "readchat": {
                    "type": "string",
                    "description": "Marca o chat como lido após enviar a mensagem",
                    "enum": [
                      "true",
                      "false"
                    ]
                  },
                  "readmessages": {
                    "type": "string",
                    "description": "Marca mensagens recentes como lidas após o envio",
                    "enum": [
                      "true",
                      "false"
                    ]
                  },
                  "replyid": {
                    "type": "string",
                    "description": "ID da mensagem que será respondida"
                  },
                  "mentions": {
                    "type": "string",
                    "description": "Lista de números mencionados separados por vírgula"
                  },
                  "track_source": {
                    "type": "string",
                    "description": "Origem de rastreamento (ex.: chatwoot, crm-interno)"
                  },
                  "track_id": {
                    "type": "string",
                    "description": "Identificador de rastreamento (aceita valores duplicados)"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{instanceId}/send/request-payment": {
      "post": {
        "summary": "Solicitar Pagamento",
        "description": "Envia uma solicitação de pagamento com o botão nativo \"Revisar e pagar\" do WhatsApp. É obrigatório enviar pelo menos um método de pagamento: `pixKey`, `boletoCode`, `paymentLink` ou `allowCards: true`. Sem isso, a API retorna erro.",
        "tags": [
          "Enviar Mensagens"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância WhatsApp"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "messageId": "ABCDEF123456",
                  "status": "sent"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "number",
                  "amount"
                ],
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número (com DDI)",
                    "example": "5511999999999"
                  },
                  "amount": {
                    "type": "number",
                    "description": "Valor (BRL)",
                    "example": "49.90"
                  },
                  "pixKey": {
                    "type": "string",
                    "description": "Chave PIX (CPF/CNPJ/telefone/email/EVP)",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                  },
                  "pixType": {
                    "type": "string",
                    "description": "Tipo da chave PIX",
                    "enum": [
                      "EVP",
                      "CPF",
                      "CNPJ",
                      "PHONE",
                      "EMAIL"
                    ]
                  },
                  "itemName": {
                    "type": "string",
                    "description": "Nome do item",
                    "example": "Assinatura Plano Ouro"
                  },
                  "invoiceNumber": {
                    "type": "string",
                    "description": "Número da fatura",
                    "example": "PED-123"
                  },
                  "title": {
                    "type": "string",
                    "description": "Título do fluxo",
                    "example": "Detalhes do pedido"
                  },
                  "footer": {
                    "type": "string",
                    "description": "Rodapé",
                    "example": "Loja Exemplo"
                  },
                  "pixName": {
                    "type": "string",
                    "description": "Nome do recebedor (padrão: nome do perfil)",
                    "example": "Loja Exemplo"
                  },
                  "text": {
                    "type": "string",
                    "description": "Texto da mensagem",
                    "example": "Pagamento referente ao pedido #123"
                  },
                  "paymentLink": {
                    "type": "string",
                    "description": "Link de pagamento externo",
                    "example": "https://pagamento.exemplo.com/123"
                  },
                  "fileUrl": {
                    "type": "string",
                    "description": "URL de arquivo anexo",
                    "example": "https://..."
                  },
                  "fileName": {
                    "type": "string",
                    "description": "Nome do arquivo anexo",
                    "example": "boleto.pdf"
                  },
                  "boletoCode": {
                    "type": "string",
                    "description": "Código do boleto",
                    "example": "34191.79001 01043.510047 91020.150008 8 87350026000"
                  },
                  "allowCards": {
                    "type": "string",
                    "description": "Permitir cartão",
                    "enum": [
                      "true",
                      "false"
                    ]
                  },
                  "currency": {
                    "type": "string",
                    "description": "Moeda",
                    "example": "BRL"
                  },
                  "note": {
                    "type": "string",
                    "description": "Nota / Observação",
                    "example": "Pagamento referente ao pedido #123"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{instanceId}/send/status": {
      "post": {
        "summary": "Enviar Status / Story",
        "description": "Publica um status/story no WhatsApp (texto, imagem ou vídeo). Visível para todos os contatos por 24 horas.",
        "tags": [
          "Enviar Mensagens"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância WhatsApp"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "messageId": "ABCDEF123456",
                  "status": "sent"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Tipo",
                    "enum": [
                      "text",
                      "image",
                      "video",
                      "audio",
                      "ptt"
                    ]
                  },
                  "text": {
                    "type": "string",
                    "description": "Texto (para tipo texto)",
                    "example": "Olá mundo!"
                  },
                  "background_color": {
                    "type": "string",
                    "description": "Cor de fundo (apenas tipo texto)",
                    "enum": [
                      "1",
                      "2",
                      "3",
                      "4",
                      "5",
                      "6",
                      "7",
                      "8",
                      "9",
                      "10",
                      "11",
                      "12",
                      "13",
                      "14",
                      "15",
                      "16",
                      "17",
                      "18",
                      "19"
                    ]
                  },
                  "font": {
                    "type": "string",
                    "description": "Fonte (apenas tipo texto)",
                    "enum": [
                      "0",
                      "1",
                      "2",
                      "3",
                      "4",
                      "5",
                      "6",
                      "7",
                      "8"
                    ]
                  },
                  "file": {
                    "type": "string",
                    "description": "URL do arquivo (imagem/vídeo/áudio)",
                    "example": "https://..."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{instanceId}/send/text": {
      "post": {
        "summary": "Enviar Texto",
        "description": "Envia uma mensagem de texto simples para um número de WhatsApp. O número deve incluir o código do país (DDI), por exemplo: 5511999999999.",
        "tags": [
          "Enviar Mensagens"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância WhatsApp"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "messageId": "ABCDEF123456",
                  "status": "sent"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "number",
                  "text"
                ],
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número (com DDI)",
                    "example": "5511999999999"
                  },
                  "text": {
                    "type": "string",
                    "description": "Mensagem",
                    "example": "Olá! Tudo bem?"
                  },
                  "delay": {
                    "type": "number",
                    "description": "Delay (ms)",
                    "example": "1200"
                  },
                  "replyid": {
                    "type": "string",
                    "description": "ID da mensagem a responder",
                    "example": "ABCDEF123456"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{instanceId}/chat/archive": {
      "post": {
        "summary": "Arquivar Chat",
        "description": "Arquiva uma conversa, ocultando-a da lista principal do WhatsApp.",
        "tags": [
          "Conversas"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância WhatsApp"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "number",
                  "archive"
                ],
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número ou JID do chat",
                    "example": "5511999999999@s.whatsapp.net"
                  },
                  "archive": {
                    "type": "string",
                    "description": "Arquivar",
                    "enum": [
                      "true",
                      "false"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{instanceId}/chat/block": {
      "post": {
        "summary": "Bloquear / Desbloquear Contato",
        "description": "⚠️ ATENÇÃO: Bloqueia um contato. NÃO use block: false . isso pode DESCONECTAR a instância inteira (bug conhecido da WhatsApp). Para desbloquear, use o próprio WhatsApp.",
        "tags": [
          "Conversas"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância WhatsApp"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "response": "Blocked successfully",
                  "blockList": [
                    "5511999999999@s.whatsapp.net"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "number",
                  "block"
                ],
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número (com DDI)",
                    "example": "5511999999999"
                  },
                  "block": {
                    "type": "string",
                    "description": "Ação",
                    "enum": [
                      "true",
                      "false"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{instanceId}/chat/blocklist": {
      "get": {
        "summary": "Lista de Bloqueados",
        "description": "Retorna todos os contatos bloqueados pela instância.",
        "tags": [
          "Conversas"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância WhatsApp"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "blocked": [
                    "5511999999999@s.whatsapp.net"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        }
      }
    },
    "/api/v1/{instanceId}/chat/delete": {
      "post": {
        "summary": "Deletar Chat",
        "description": "Deleta um chat inteiro. Pode limpar apenas no app ou também no banco de dados.",
        "tags": [
          "Conversas"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância WhatsApp"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "actions": [],
                  "response": "Chat deletion process completed"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "number"
                ],
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número do chat no formato internacional.\nPara grupos use o ID completo do grupo.\n",
                    "example": "5511999999999"
                  },
                  "deleteChatDB": {
                    "type": "string",
                    "description": "Se true, deleta o chat do banco de dados",
                    "enum": [
                      "true",
                      "false"
                    ],
                    "example": "True"
                  },
                  "deleteMessagesDB": {
                    "type": "string",
                    "description": "Se true, deleta todas as mensagens do chat do banco de dados",
                    "enum": [
                      "true",
                      "false"
                    ],
                    "example": "True"
                  },
                  "deleteChatWhatsApp": {
                    "type": "string",
                    "description": "Se true, deleta o chat do WhatsApp.\nPara grupos, esta operação não é permitida e o chat será apenas limpo.\n",
                    "enum": [
                      "true",
                      "false"
                    ],
                    "example": "True"
                  },
                  "clearChatWhatsApp": {
                    "type": "string",
                    "description": "Se true, limpa a conversa do chat no WhatsApp (sem sair do chat).\nFunciona para grupos e conversas individuais.\n",
                    "enum": [
                      "true",
                      "false"
                    ],
                    "example": "True"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{instanceId}/chat/find": {
      "post": {
        "summary": "Buscar Chats",
        "description": "Busca chats com filtros avançados: por nome, label, status, grupo, e mais.",
        "tags": [
          "Conversas"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância WhatsApp"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "chats": [
                    {
                      "jid": "5511999999999@s.whatsapp.net",
                      "name": "João",
                      "unreadCount": 3
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [],
                "properties": {
                  "operator": {
                    "type": "string",
                    "description": "Operador lógico entre os filtros",
                    "enum": [
                      "AND",
                      "OR"
                    ]
                  },
                  "sort": {
                    "type": "string",
                    "description": "Ordenação (+/- campo, ex: -wa_lastMsgTimestamp)",
                    "example": "-wa_lastMsgTimestamp"
                  },
                  "limit": {
                    "type": "number",
                    "description": "Quantidade máxima de resultados a retornar"
                  },
                  "offset": {
                    "type": "number",
                    "description": "Número de registros a pular (para paginação)"
                  },
                  "wa_fastid": {
                    "type": "string",
                    "description": "ID interno do chat"
                  },
                  "wa_chatid": {
                    "type": "string",
                    "description": "ID do chat no WhatsApp"
                  },
                  "wa_archived": {
                    "type": "string",
                    "description": "Arquivado?",
                    "enum": [
                      "true",
                      "false"
                    ]
                  },
                  "wa_contactName": {
                    "type": "string",
                    "description": "Nome do contato"
                  },
                  "wa_name": {
                    "type": "string",
                    "description": "Nome no WhatsApp"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome"
                  },
                  "wa_isBlocked": {
                    "type": "string",
                    "description": "Bloqueado?",
                    "enum": [
                      "true",
                      "false"
                    ]
                  },
                  "wa_isGroup": {
                    "type": "string",
                    "description": "É grupo?",
                    "enum": [
                      "true",
                      "false"
                    ]
                  },
                  "wa_isGroup_admin": {
                    "type": "string",
                    "description": "É admin do grupo?",
                    "enum": [
                      "true",
                      "false"
                    ]
                  },
                  "wa_isGroup_announce": {
                    "type": "string",
                    "description": "Grupo apenas admins?",
                    "enum": [
                      "true",
                      "false"
                    ]
                  },
                  "wa_isGroup_member": {
                    "type": "string",
                    "description": "É membro do grupo?",
                    "enum": [
                      "true",
                      "false"
                    ]
                  },
                  "wa_isPinned": {
                    "type": "string",
                    "description": "Fixado?",
                    "enum": [
                      "true",
                      "false"
                    ]
                  },
                  "wa_label": {
                    "type": "string",
                    "description": "ID da label aplicada ao chat. Use o valor retornado por `/labels`, não o nome da etiqueta."
                  },
                  "wa_notes": {
                    "type": "string",
                    "description": "Tem notas?"
                  },
                  "lead_tags": {
                    "type": "string",
                    "description": "Tags do lead"
                  },
                  "lead_isTicketOpen": {
                    "type": "string",
                    "description": "Ticket aberto?",
                    "enum": [
                      "true",
                      "false"
                    ]
                  },
                  "lead_assignedAttendant_id": {
                    "type": "string",
                    "description": "ID do atendente"
                  },
                  "lead_status": {
                    "type": "string",
                    "description": "Status do lead"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{instanceId}/chat/mute": {
      "post": {
        "summary": "Silenciar Chat",
        "description": "Silencia notificações de uma conversa por um período em milissegundos. Exemplo: 86400000 = 24h.",
        "tags": [
          "Conversas"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância WhatsApp"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "number"
                ],
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número ou JID do chat",
                    "example": "5511999999999@s.whatsapp.net"
                  },
                  "duration": {
                    "type": "number",
                    "description": "Duração (ms) — ex: 86400000 = 24h",
                    "example": "86400000"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{instanceId}/chat/notes": {
      "post": {
        "summary": "Ver Notas do Chat",
        "description": "Retorna as notas internas (privadas) associadas a um chat.",
        "tags": [
          "Conversas"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância WhatsApp"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "notes": "Notas internas do chat"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [],
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "JID completo do chat",
                    "example": "5511999999999@s.whatsapp.net"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{instanceId}/chat/notes/edit": {
      "post": {
        "summary": "Editar Notas do Chat",
        "description": "Edita as notas internas de um chat. Notas são visíveis apenas para você.",
        "tags": [
          "Conversas"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância WhatsApp"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [],
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "JID completo do chat",
                    "example": "5511999999999@s.whatsapp.net"
                  },
                  "notes": {
                    "type": "string",
                    "description": "Conteúdo da nota a persistir no chat",
                    "example": "Cliente prefere contato no período da tarde"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{instanceId}/chat/notes/refresh": {
      "post": {
        "summary": "Recarregar Notas",
        "description": "Recarrega as notas internas do WhatsApp para o banco local.",
        "tags": [
          "Conversas"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância WhatsApp"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [],
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "JID completo do chat",
                    "example": "5511999999999@s.whatsapp.net"
                  },
                  "force": {
                    "type": "string",
                    "description": "Tente primeiro com `false`.\nUse `true` apenas quando a recarga padrão não funcionar bem,\npois esse modo faz uma nova leitura mais completa das notas.\n",
                    "enum": [
                      "true",
                      "false"
                    ],
                    "example": "False"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{instanceId}/chat/pin": {
      "post": {
        "summary": "Fixar / Desfixar Chat",
        "description": "Fixa ou desfixa uma conversa no topo da lista de chats do WhatsApp.",
        "tags": [
          "Conversas"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância WhatsApp"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "number",
                  "pin"
                ],
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número ou JID do chat",
                    "example": "5511999999999@s.whatsapp.net"
                  },
                  "pin": {
                    "type": "string",
                    "description": "Ação",
                    "enum": [
                      "true",
                      "false"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{instanceId}/chat/read": {
      "post": {
        "summary": "Marcar Chat como Lido",
        "description": "Marca todas as mensagens não lidas de uma conversa como lidas, zerando o contador de não lidas.",
        "tags": [
          "Conversas"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância WhatsApp"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "number"
                ],
                "properties": {
                  "number": {
                    "type": "string",
                    "description": "Número ou JID do chat",
                    "example": "5511999999999@s.whatsapp.net"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{instanceId}/message/delete": {
      "post": {
        "summary": "Deletar Mensagem",
        "description": "Apaga uma mensagem enviada para todos os participantes do chat. So e possivel deletar mensagens enviadas pela propria instancia.",
        "tags": [
          "Conversas"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância WhatsApp"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "Timestamp": "2026-04-06T04:50:40Z",
                  "ID": "3EB0C6074918E013090475",
                  "Sender": "..."
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "ID da mensagem",
                    "example": "ABCDEF123456"
                  },
                  "number": {
                    "type": "string",
                    "description": "Número do destinatário",
                    "example": "5511999999999"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{instanceId}/message/download": {
      "post": {
        "summary": "Download de Mídia",
        "description": "Faz o download de uma mídia recebida (imagem, vídeo, áudio, documento) a partir do ID da mensagem. O campo `id` deve vir do webhook ou do endpoint `/message/find`. Obs: o parâmetro transcribe é best-effort e pode não retornar a transcrição. Para transcrição garantida de áudios, use o módulo de IA.",
        "tags": [
          "Conversas"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância WhatsApp"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "fileURL": "https://server.example.com/files/abc123.jpg",
                  "mimetype": "image/jpeg"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "ID da mensagem",
                    "example": "7EB0F01D7244B421048F0706368376E0"
                  },
                  "return_link": {
                    "type": "string",
                    "description": "Retornar URL pública do arquivo",
                    "enum": [
                      "true",
                      "false"
                    ]
                  },
                  "return_base64": {
                    "type": "string",
                    "description": "Retornar arquivo em base64",
                    "enum": [
                      "false",
                      "true"
                    ]
                  },
                  "generate_mp3": {
                    "type": "string",
                    "description": "Para áudios: retornar como MP3 (false = OGG)",
                    "enum": [
                      "true",
                      "false"
                    ]
                  },
                  "transcribe": {
                    "type": "string",
                    "description": "Transcrever áudio (best-effort — pode não retornar texto)",
                    "enum": [
                      "false",
                      "true"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{instanceId}/message/edit": {
      "post": {
        "summary": "Editar Mensagem",
        "description": "Edita o texto de uma mensagem previamente enviada. Aparece com indicador de editada para o destinatario. So funciona com mensagens enviadas pela propria instancia.",
        "tags": [
          "Conversas"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância WhatsApp"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "id": "3EB0BB655F4F2AFA22FDE3",
                  "messageType": "ExtendedTextMessage",
                  "messageTimestamp": 1775450980468,
                  "status": "Pending"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "number",
                  "text"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "ID da mensagem",
                    "example": "ABCDEF123456"
                  },
                  "number": {
                    "type": "string",
                    "description": "Número do destinatário",
                    "example": "5511999999999"
                  },
                  "text": {
                    "type": "string",
                    "description": "Novo texto",
                    "example": "Texto corrigido..."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{instanceId}/message/find": {
      "post": {
        "summary": "Histórico de Mensagens",
        "description": "Retorna o histórico de mensagens da instância. Filtre por `chatid` para buscar mensagens de uma conversa específica. Suporta paginação via `limit` e `offset`.",
        "tags": [
          "Conversas"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância WhatsApp"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "messages": [],
                  "total": 0
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado - verifique x-api-key e x-api-secret"
          },
          "402": {
            "description": "Proxy suspenso - instância com saldo insuficiente"
          },
          "404": {
            "description": "Instância não encontrada"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [],
                "properties": {
                  "chatid": {
                    "type": "string",
                    "description": "ID do chat (JID)",
                    "example": "5511999999999@s.whatsapp.net"
                  },
                  "id": {
                    "type": "string",
                    "description": "ID de mensagem específica",
                    "example": "ABCDEF123456"
                  },
                  "limit": {
                    "type": "number",
                    "description": "Limite (padrão: 100)",
                    "example": "100"
                  },
                  "offset": {
                    "type": "number",
                    "description": "Offset (paginação)",
                    "example": "0"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/{instanceId}/message/history-sync": {
      "post": {
        "summary": "Sincronizar Histórico",
        "description": "Solicita sincronizacao de historico de mensagens antigas de um chat. As mensagens chegam via webhook/SSE.",
        "tags": [
          "Conversas"
        ],
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID da instância WhatsApp"
          }
        ],
        "security": [
          {
            "ApiKeyAuth": [],
            "ApiSecretAuth": []
          }
        ],
        "responses": {
          "200": {
[...]
